body.home
  
  .content
    padding: 0

  .coupon-bar
    background: $light-grey
    padding: 1rem
    text-align: center

  .callout

    &-block
      background-size: cover
      background-position: center
      padding: 1rem
      min-height: 360px
      height: 35vmax
      // +media(min-width $screen-medium)
      //   height: auto

      &:first-child
        +media(max-width $screen-medium)
          border-bottom: 6px solid #fff
        +media(min-width $screen-medium)
          border-right: 6px solid #fff
