body.home


  .content
    padding: 0



  .coupon-bar
    +outer-container(1440px)
    background: $light-grey
    padding: 1rem
    text-align: center



  .callout
    +outer-container(1440px)

    &-block
      background-size: cover
      background-position: center
      padding: 1rem
      min-height: 360px
      height: 35vmax


  .callout-block--first
    text-align: center
    +media(max-width $screen-medium)
      border-bottom: 6px solid #fff
    +media(min-width $screen-medium)
      border-right: 6px solid #fff

    .callout-block__title
      color: $red
      font-size: modular-scale(6)
      text-shadow: 0 1px 5px rgba($dark-grey, 0.6)
