{% extends 'layouts/application.html' %}

{% set pageClass = "contact" %}

{% block hero %}
<section class="hero" style="background-image: url({{ page.contact.featuredImage.src }})">
    <div class="container">
      <div class="hero-caption">
        <h1 class="hero-caption__title">Contact Us</h1>
      </div>
    </div>
  </section>
{% endblock %}

{% block content %}
  <main class="content">
    <div class="container">
      <img class="product-image" src="{{ page.contact.productImage.src }}" alt="">
      <div class="content-block">
        <h3>Do you have a question or comment about our products?</h3>
        <p>We welcome feedback and would love to hear from you</p>
        <br>
        <p>If you prefer to contact us by mail, please send correspondence to:</p>
        <address>
          Consumer Affairs Dept.<br>
          Chattem, Inc. <br>
          P.O. Box 2219 <br>
          Chattanooga, TN 37409-0219
        </address>
        <br>
        <h3>Can't find our products?</h3>
        <p>Go here to discover where your favorite Rolaids products are
          available.</p>
      </div>
    </div>
  </main>
{% endblock %}
