{% extends 'layouts/application.html' %}

{% set pageClass = "coupon" %}

{% block hero %}
<section class="hero" style="background-image: url({{ page.coupon.hero.backgroundImage.src }})">
    <div class="container">
      <div class="hero-caption">
        <h1 class="hero-caption__title">{{ page.coupon. }}</h1>
      </div>
    </div>
  </section>
{% endblock %}

{% block content %}
<main class="content">
  <div class="container">
    <h1>{{ page.coupon.content.title }}</h1>
    <p>{{ page.coupon.content.text }}</p>
    <p><a class="button primary" href="{{ page.coupon.content.button.link }}">{{ page.coupon.content.button.text }}</a></p>
    <img src="{{ page.coupon.content.image.src }}" alt="{{ page.coupon.content.image.alt }}">
  </div>
</main>
{% endblock %}
