{% extends 'layouts/application.html' %}

{% set pageClass = "home" %}
{% set pageController = "home" %}
{% set pageAction = "show" %}

{% block hero %}
<section class="section carousel">
  <div class="carousel-inner">
    {% for item in page.home.carousel %}
    <div class="carousel-item">
      <video class="carousel-item__background carousel-item__background--video" src="{{ item.src }}" autoplay loop>
        <source src="{{ item.src }}" />
      </video>
      <div class="carousel-item__caption">
        <h2 class="carousel-item__caption-title">{{ item.caption.title }}</h2>
        <p class="carousel-item__caption-text">{{ item.caption.text }}</p>
        <a class="carousel-item__caption-button button button--large" href="{{ item.caption.buttonLink }}">{{ item.caption.buttonText }}</a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}

{% block content %}
<main class="content">
  <div class="coupon-bar">
    <a href="{{ page.home.coupon.link }}" class="coupon-bar__link">{{ page.home.coupon.text }}</a>
  </div>

  <section class="callout">
    <div class="callout-block callout-block--first" style="background-image: url({{ page.home.callout.first.backgroundImage }})">
      <h3 class="callout-block__title">{{ page.home.callout.first.title }}</h3>
      <a class="callout-block__button button button--primary" href="{{ page.home.callout.first.button1.link }}">{{ page.home.callout.first.button1.text }}</a>
      <a class="callout-block__button button" href="{{ page.home.callout.first.button2.link }}">{{ page.home.callout.first.button2.text }}</a>
    </div>
    <div class="callout-block callout-block--last" style="background-image: url({{ page.home.callout.last.backgroundImage }})">
      <p class="callout-block__text">
        {{ page.home.callout.last.text }}
      </p>
      <a class="callout-block__button button button--secondary" href="#">Find Out How</a>
    </div>
  </section>
</main>
{% endblock %}

{% block javascript %}
{% endblock %}
