{% extends 'layouts/application.html' %}

{% set pageClass = "products" %}

{% block hero %}
<section class="hero" style="background-image: url({{ page.contact.featuredImage.src }})">
    <div class="container">
      <div class="hero-caption">
        <h1 class="hero-caption__title">
          Rolaids<br> 
          Advanced <sup>&reg;</sup> Tablets
        </h1>
        <p class="hero-caption__text">
          It kicks acid and a whole lot more
        </p>
        <a class="hero-caption__button button" href="#">Buy Now</a>
      </div>
    </div>
  </section>
{% endblock %}


{% block content %}
<main class="content">
  <div class="container">

  </div>
</main>
{% endblock %}
