.button
  background: $btn-default-bg
  color: $btn-default-color
  letter-spacing: $btn-default-kern
  text-decoration: none
  text-transform: uppercase
  padding: $btn-base-pad

  &:hover
    background: darken($btn-default-bg, 3%)
  &:active
    background: darken($btn-default-bg, 10%)



.button--large
  font-size: $btn-large-text
  padding: $btn-large-pad



.button--primary
  background: $btn-primary-bg
  color: $btn-primary-color

  &:hover
    background: lighten($btn-primary-bg, 5%)

  &:active
    background: darken($btn-primary-bg, 10%)



.button--secondary
  &:hover
    background: $btn-secondary-bg
    color: $btn-secondary-color



.button--emphasis
  color: $btn-emphasis-color
  background: $btn-emphasis-bg

  &:hover
    background: lighten($btn-emphasis-bg, 10%)

  &:active
    background: darken($btn-emphasis-bg, 10%)
