.carousel
  color: $carousel-default-color



.carousel-inner
  width: 100%
  position: relative



.carousel-item
  background-color: $light-grey
  position: relative
  left: 0 !important;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;

  &:after
    content: ''
    background: rgba(#000, 0.3)
    +size(100%)
    +position(absolute, 0 0 0 0)
    z-index: 2

  &.is-selected 
    opacity: 1
    z-index: 0



.carousel-item__background

    &--video
      min-width: 100vw
      width: 100%
      display: none

      +media(min-width $screen-large)
        display: block


    &--image

      +media(min-width $screen-large)
        display: none !important



.carousel-item__caption
  display: table
  margin: auto
  padding: 1rem

  +position(absolute, null 0 1% 0)
  z-index: 3

  +media(min-width $screen-medium)
    text-align: center
    width: 50vw
    max-width: 600px
    bottom: 30%


  &-title,
  &-text,
  &-button
    transition: all 0.44s ease-in
    transform: translateY(40%)
    opacity: 0
    .carousel-item.is-selected &
      transform: translateY(0)
      opacity: 1



  &-title,
  &-text
    font-size: modular-scale(1)

  &-title
    font-size: modular-scale(3)
    text-transform: uppercase
  &-text
    margin-bottom: 2em



.flickity-slider
  transform: none !important



.flickity-page-dots
  display: none
  visibility: none



.flickity-prev-next-button
  background: transparent !important

  .arrow
    fill: $white !important
