.header
  background: $header-bg

  width: 100%
  +position(absolute, 0 null null 0)
  z-index: 1

  .container
    display: flex
    flex-direction: column

  &__bar
    padding: 0 1rem
    &--bottom
      order: 1

      > .row
        display: flex
        align-items: center

        &:first-child
          justify-content: flex-end
          padding: 0 1rem

    &--top
      order: 0

  .block--right
    +display(flex)
    +flex-direction(row)
    +align-items(center)
    +justify-content(flex-end)
    +size(100% auto)

  .nav-toggle
    order: 1
    display: none
    +media(max-width $screen-small)
      display: block

  .social-media
    order: 0
    svg
      width: 16px

  .social-media, .app-nav--secondary
    +media(min-width $screen-medium)
      display: inline-block
      vertical-align: middle

