.nav
  +media(min-width $screen-small)
    &__list-item[aria-hidden="true"]
      display: none
  



.nav--primary
  width: 100%
  display: none
  +media(min-width $screen-small)
    display: block

  .nav__list-link
    font-weight: bold
    text-transform: uppercase

  .nav__list-link:hover, .nav__list-item.is-active .nav__list-link
    color: $nav-link-hover-color
    border-bottom: 3px solid $nav-link-hover-color



.nav--secondary
  +media(max-width $screen-small)
    display: none
    visibility: hidden



.nav__list
  list-style: none
  margin: 0
  padding: 0

  +media(max-width $screen-medium)
    font-size: 75%
  +media(min-width $screen-small)
    display: flex



.nav__list-link
  color: $nav-link-color
  font-family: $heading-font-family
  border-bottom: 3px solid transparent
  display: block
  padding: 0.5rem
  text-decoration: none

  &.has-dropdown:hover
    background: #fff
    + .nav-dropdown
      display: block

  +media(min-width $screen-small)
    padding: 1rem



.nav-dropdown
  background: #fff
  padding: 1rem
  display: none
  width: 100%
  text-align: center

  +position(absolute, null 0 null 0)
  z-index: 5

  &:hover
    display: block

  a
    color: $color-secondary
    opacity: 0.5
    text-decoration: none



.nav-dropdown__submenu
  display: inline-block


.nav-dropdown__submenu-list
  background: $white
  display: none
  padding-bottom: 1rem
  +position(absolute, null null null 0)
  width: 100vw

  .nav-dropdown__submenu.is-active &
    +display(flex)
    +justify-content(center)




.nav-dropdown__subtitle
  margin: 1em
  text-transform: capitalize



.nav-dropdown__list
  list-style: none
  padding: 0
  +display(flex)
  +justify-content(center)



.nav-dropdown__list-item
  display: table-cell
  padding: 0 1rem

  &:hover
    a
      opacity: 1
