@import base/colors
@import bourbon/bourbon

// Visual Helpers
$visual-debug: false
$visual-grid: false

// Screen Sizes
$screen-small: 480px
$screen-medium: 800px
$screen-large: 1200px

// Typography
$base-font-family: $verdana
$base-font-size: 1em
$base-line-height: 1.2

$heading-font-family: "Lato", sans-serif

// Header
$header-bg: rgba($white, 0.75)

// Nav
$nav-link-color: $color-secondary
$nav-link-hover-color: $color-primary

// Footer
$footer-bg: $white

// Content
$content-bg: $white
$content-pad: 2rem 1rem

// Hero
$hero-default-color: $white

// Carousel
$carousel-default-color: $white

// Button
$btn-default-bg: $white
$btn-default-color: $color-primary
$btn-default-kern: 0.03em

$btn-primary-bg: $color-primary
$btn-primary-color: $white

$btn-secondary-bg: $color-secondary
$btn-secondary-color: $white

$btn-emphasis-bg: $color-emphasis
$btn-emphasis-color: $white

$btn-large-pad: 1rem 3rem
$btn-large-text: 115%

$btn-small-pad: 0.3rem 0.6rem
$btn-small-text: 80%

$btn-base-pad: 0.5rem 1.5rem
