$white: #fff
$light-grey: #fafafa
$dark-grey: #555
$red: #ab0041
$purple: purple

$color-primary: #0274b6
$color-primary-light: lightblue
$color-secondary: $purple
$color-secondary-light: #D8BFD8
$color-emphasis: $red

$color-facebook: #3b5998
$color-twitter: #4099ff
$color-instagram: tan
