{% block footer %}
<footer class="footer">
  <div class="container">
    <div class="social-media">
      <a class="social-media__link" href="#">
        <span class="social-media__link-text">Check us out on facebook</span>
        <span class="social-media__link-icon">{{ sprite('facebook') }}</span>
      </a>
    </div>
    <nav class="footer__navigation">
      <ul>
        {% for item in footer.navList1 %}
          <li><a class="footer__navigation-link" href="{{ item.link }}">{{ item.label }}</a></li>
        {% endfor %}
      </ul>
      <ul>
        {% for item in footer.navList2 %}
          <li><a class="footer__navigation-link" href="{{ item.link }}">{{ item.label }}</a></li>
        {% endfor %}
      </ul>
      <ul>
        {% for item in footer.navList3 %}
          <li><a class="footer__navigation-link" href="{{ item.link }}">{{ item.label }}</a></li>
        {% endfor %}
      </ul>
    </nav>
    <div class="brand">
      <img class="brand-image" src="images/logo_chattem.png" alt="">
      <span class="brand-title">A Sanofi Company</span>
      <p class="brand-text">
        &copy;<script>document.write(new Date().getFullYear());</script>
        Chattem, Inc. All Rights Reserved.
      </p>
    </div>
  </div>
</footer>
{% endblock %}

