<header class="header">
  <div class="container">

    <div class="header__bar--bottom">
      <div class="row">
        <!-- Brand -->
        <div class="brand">
          <a href="index.html" class="brand__link">
            <img src="{{ brand.logo }}" alt="Rolaids&reg;" class="brand__image">
          </a>
        </div>

        <div class="block--right">
          <!-- Social Media -->
          <div class="social-media">
            {% include "shared/social-icons-svg.html" %}
          </div>

          <!-- Secondary Navigation -->
          {% include "shared/nav-secondary.html" %}
        </div>
      </div>

      <div class="row">
        {% include "shared/nav.html" %}
      </div>
    </div>

    <div class="header__bar--top">
      <div class="sanofi-logo">
        <a href="#sanofi" class="sanofi-logo__link" title="Sanofi">
          <img src="images/sanofi-logo.png" alt="" class="sanofi-logo__image">
          <small class="sanofi-logo__text">for US residents only</small>
        </a>
      </div>
    </div>
  </div>
</header>
